@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Dongle&family=Luxurious+Roman&family=Roboto:wght@300;400&family=Source+Serif+4:wght@300&family=The+Nautigal:wght@700&family=Ubuntu:wght@300;400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.uffer-section{
    background-image:url("images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    width: 100%;
    /* height: 50vh; */
    padding:100px;
}
.uffer-section header{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.uffer-section header h1{
    letter-spacing: 15px;
    font-size: 40px;
}
.hero{
    background-color:#181824;
    width:100%;
    height: 100vh;
 display: flex;
 justify-content: center;
 font-family: 'Luxurious Roman', cursive;
 font-size: 30px;

}
.add-todo-form{
    padding:100px;
}
.add-todo-form button{
    padding:10px;
    background-color: rgb(248, 110, 60);
    color:rgb(227, 227, 243);
    border-radius :10px;
    border:none;
}
.add-todo-form button:hover{
    color:rgb(255, 145, 0);
    background-color:grey;
    cursor:pointer;
}
    
.todo-tasks li{
    list-style: none;
    color:ivory;
}
#insert{
    padding:20px;
    border-radius: 15px;
    border:none;
}